@charset "utf-8";
body{
    background-color: cornsilk;
}
/*ようこそユーザー名の配置*/
header p{
    float: right;
}
/*ページタイトル*/
header h1{
    text-align: center;
    font-size: 250%;
}

/*リストに適用*/
ul{
    padding-left: 0;
    list-style: none;
  }
ul li {
    width:auto;
    text-align:center;
  }
#form_left{
    width: 50%;
    height: 200px;
    background-color: blue;
    float: left;
}
#form_right{
    width: 50%;
    height: 200px;
    background-color: red;
    float: right;
}
/*検索条件フォーム*/
#form_search{
    width: 100%;
    display: block;
    text-align: center;
}
/*検索フォームのボタン*/
#input1{
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 60%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 2px solid black;
	border-radius: 4px;
    outline: none;
}
/*フォーム全体に対して適用*/
#form_input{
	width: 100%;
    text-align: center;
}

/*各項目に対して適用*/
#input {
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 50%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 2px solid black;
	border-radius: 4px;
    outline: none;
    -webkit-appearance: none;
/*選択された時の動作*/
}#input:focus {
    border: 2px solid skyblue;   
    outline: none;      
}
/*戻るボタン*/
#back-button{
    width: 200px;
    margin: 0 0 0 auto;
    padding: 10px;
    background: #f4ffff;
    border: 2px solid #f6bb9e;
    border-radius: 10px;
    font-size: 1em;
    -webkit-appearance: none;
    clear: right;
}
/*ログアウトボタン*/
#logout-button{
    width: 200px;
    margin: 0 0 0 auto;
    padding: 10px;
    background: #fff6ff;
    border: 2px solid #f6bb9e;
    border-radius: 10px;
    font-size: 1em;
    -webkit-appearance: none;
    clear: right;
}
/*送信、リセットボタン*/
#button{
    width: 200px;
    margin: 0 10px;
    padding: 10px;
    background: #fff;
    border: 2px solid #f6bb9e;
    border-radius: 10px;
    font-size: 1em;
    -webkit-appearance: none;
}
/*カーソルを上に乗せた時の動作*/
#button:hover {
        background-color:#f6bb9e;
        color: #fff;
}
/*フッターの設定*/
footer{
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align: right;   
}
    