@charset "utf-8";
/*全体の背景*/
body{
    background-color: cornsilk;
}
/*ようこそユーザー名の配置*/
p{
    float: right;
}
/*トップ*/
h1{
    text-align: center;
    font-size: 250%;
}
/*テーブル関連*/
.scroll-table{
    white-space: nowrap;
    overflow:scroll;
    width: 1200px;
    height: 350px;
    float: left;
}
th{
    width: 300px;
    background-color: black;
    color: white;
}
tbody {
    width: 50px;
    text-align: center;
}
/*テーブルの次のブロック配置*/
div.float-sample-4{
    width:25px;
    height:300px;
    float: left;
}
/*ログアウトボタン*/
#button{
    width: 200px;
    margin: 0 0 0 auto;
    padding: 10px;
    background: #fff;
    border: 2px solid #f6bb9e;
    border-radius: 10px;
    font-size: 1em;
    -webkit-appearance: none;
    clear: right;
}
/*カーソルを上に乗せた時の動作*/
#button:hover {
    background-color:#f6bb9e;
    color: #fff;
}
/*フッターの設定*/
footer{
    height: auto;
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align: right;
    clear:both;
}