@charset "utf-8";
body{
    background-color: cornsilk;
}
/*トップ*/
h1{
    text-align: center;
    font-size: 250%;
}
/*フォーム全体に対して適用*/
#formmain{
    position: relative;
	width: 80%;
    margin: 0px auto;
    text-align: center;
}
#search{
    position: relative;
	width: 30%;
    margin: 0px auto;
    text-align: left;
}
/*必須の部分に対して適用*/
span.font1{
    color: red;
}
#input1{
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 50%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 2px solid black;
	border-radius: 4px;
    outline: none;;
}
/*各項目に対して適用*/
#input {
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 50%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 2px solid black;
	border-radius: 4px;
    outline: none;;
/*選択された時の動作*/
}#input:focus {
    border: 2px solid skyblue;   
    outline: none;      
}
/*送信、リセットボタン*/
#button{
        font-size: 1.4em;
        font-weight: bold;
        padding: 10px 30px;
        background-color: #248;
        color: #fff;
        border-style: none;
}
/*カーソルを上に乗せた時の動作*/
#button:hover {
        background-color: #24d;
        color: #fff;}
/*フッターの設定*/
footer{
    text-align: right;
    font-style: oblique;
}
    