@charset "utf-8";
#top{        
    margin: 0px auto;
    text-align: center;
}
#addteacher{
    position: relative;
	width: 80%;
    margin: 0px auto;
    text-align: center;
}
#input {
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 50%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;;
}
#button{
    
}
