@charset "utf-8";
/*背景*/
body{
    background-color: cornsilk;
}
/*テーブルに適用*/
table{
    margin: auto;
}
th{
    background-color: black;
    color: white;
}
/*リストに適用*/
ul{
    float: right;
}
/*フォーム全体に対して適用*/
#formmain{
    position: relative;
	width: 80%;
    margin: 0px auto;
    text-align: center;
}
#input1{
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 50%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 2px solid black;
	border-radius: 4px;
    outline: none;;
}
/*送信、リセットボタン*/
#button{
    width: 200px;
    margin: 0 10px;
    padding: 10px;
    background: #fff;
    border: 2px solid #f6bb9e;
    border-radius: 10px;
    font-size: 1em;
    -webkit-appearance: none;
}
/*カーソルを上に乗せた時の動作*/
#button:hover {
    background-color:#f6bb9e;
    color: #fff;
}
/*フッターの設定*/
footer{
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align: right;   
}