@charset "utf-8";
#wrap{
  width:100%;
  height:700px;
  display:flex;
  background-color: #3a6868a2;
  }
#top{
  flex:0 1 auto;
  width:700px;
  margin:auto;
  background-color:rgba(255, 255, 255, 0.6);
}
h1{
    text-align: center;
    font-size: 300%;
    margin: 0 auto;
}
#main{
	width: 70%;
    margin: auto;
    text-align: center;
}
.input{
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 70%;
	margin: 15px auto;
	padding: 0.3em;
	transition: 0.3s;
	border: 2px solid black;
	border-radius: 4px;
    outline: none;
    display: table-cell;
	vertical-align: middle;
}
/*送信、リセットボタン*/
#button{
  width: 200px;
  margin: 0 10px;
  padding: 10px;
  background: #fff;
  border: 2px solid #f6bb9e;
  border-radius: 10px;
  font-size: 1em;
  -webkit-appearance: none;
}


