@charset "utf-8";
/*背景関連のプロパティ*/
body{
  background-color: rgb(156, 245, 153);
}
/*ヘッダー関連*/
header{
  display: inline;
}
header a{
  width:50px;
  height: 50px;
}
header p{
  float: right;
  width:300px;
}
/*ページタイトル*/
h1{
  width: 300px;
  margin: 40px,auto;
}