@charset "utf-8";
/*背景関連のプロパティ*/
#wrap{
  margin: 10px;
  height: 30px auto;
  background-color: rgb(226, 162, 24);
}
/*ヘッダー関連*/
#header{
  background-color: rgb(235, 77, 15);
}
#header p{
  display: inline-block;
}
/*中央配置*/
#header h1,#form_main{
  text-align: center;
}

/*検索フォーム*/
#form_search{
width: 260px;
}
/*検索フォーム（form_search）のテキストボックス*/
#input1{
font: 15px/24px sans-serif;
box-sizing: border-box;
width: 150px;
height:40px;
margin: 2px 10px;
padding: 10px;
transition: 0.3s;
border: 2px solid black;
border-radius: 4px;
outline: none;

/*選択された時の動作*/
}#input1:focus {
  border: 2px solid skyblue;   
  outline: none;      
}
/*メインフォーム*/
#form_main,#input_form{
  width: auto;
  height:350px;
  display:inline-block;
  text-align:center;
}

ul li {
  height:50px;
  width:auto;
  list-style: none;
  text-align:center;
}/*メインフォーム（form_main）のテキストボックス*/
#name,#no,#password,#authority{
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 200px;
  height:40px;
  text-align: center;
  margin: 2px 10px;
  padding: 10px;
  transition: 0.3s;
  border: 2px solid black;
  border-radius: 4px;
  outline: none;
  /*選択された時の動作*/
}#input:focus{
  border: 2px solid skyblue;   
  outline: none;      
}
  

/*送信、リセットボタン*/
#button{
  width: 150px;
  margin: 5px 10px;
  padding: 10px;
  background: #fff;
  border: 2px solid #f6bb9e;
  border-radius: 10px;
  font-size: 1em;
  -webkit-appearance: none;
}

footer{
  height: 30px;
  text-align: right;
  background-color: red;
}